<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santu.nearme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAQIU91AHk2zXYsOPjhXx6WKY_S8lzqV3Y" />

        <activity android:name=".DrawerMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.MainActivity" />
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/my_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".MyGroupActivity"
            android:label="@string/my_group">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".MyPubActivity"
            android:label="@string/my_pub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".MyEventsActivity"
            android:label="I miei eventi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.MyPubActivity" />
        </activity>
        <activity
            android:name=".AddPubActivity"
            android:label="@string/add_pub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".AddArtistActivity"
            android:label="@string/add_group">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.DrawerMenuActivity" />
        </activity>
        <activity
            android:name=".AddEventActivity"
            android:label="Aggiungi evento">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.DrawerMenuActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".EditEventActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:label="Modifica profilo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.MyProfileActivity" />
        </activity>

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".EditPubActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.santu.nearme.MyPubActivity" />
        </activity>
        <activity android:name=".EditGroupActivity"></activity>
    </application>

</manifest>